@import 'https://fonts.googleapis.com/css?family=Open+Sans';
/* 
:root {
    --main-white: #ffffff;
    --main-black: #000000;
    --main-red: #d11143;
    --main-blue: #0d3554;
    --menu-red: #de1828;
    --title-red: #c90e3f;
    --main-grey: #404040;
    --bright-blue: #61a8de;
    --sub-blue: #515f67;
    --sub-grey: #e3e3e3;
    --main-green: #919417;
    --light-grey: #dcdccf;
    --font10-basic: 10px;
    --standard-radius: 5px
} */

:root {
    --main-white: #ffffff;
    --main-black: #000000;
    --main-red: #d11143;
    --main-blue: #0d3554;
    --menu-red: #de1828;
    --title-red: #c90e3f;
    --main-grey: #404040;
    --bright-blue: #61a8de;
    --sub-blue: #515f67;
    --sub-grey: #e3e3e3;
    --main-green: #919417;
    --light-grey: #dcdccf;
    --font10-basic: 10px;
    --standard-radius: 5px;
    --font14-basic: 20px;
}

body {
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: .02em;
    box-sizing: border-box;
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    -ms-box-sizing: border-box !important;
}


.mainContent span h3 {
    width: 10%;
    background: var(--title-red);
    color: var(--main-white);
    text-transform: uppercase;
    padding: 0.3em;
    text-align: center;
    letter-spacing: .05em;
}



.featurette-heading {
    color: var(--main-blue);
    font-size: var(--font14-basic);
    line-height: 1.5;
    letter-spacing: .02em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

}

/* .navbar {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
} */

a {
    text-decoration: none;
    color: var(--main-blue);
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.auther {
    font-family: sans-serif;

    font-size: 12px;
    font-weight: 700;
}

.categoryContent {
    position: absolute;
    bottom: 0;
    text-transform: capitalize;
    background: var(--main-blue);
    padding: 0.8em;
    font-size: var(--font10-basic);
    font-weight: 700;
    letter-spacing: .09em;
    border: 1px solid var(--main-white);
    color: var(--main-white);
}

.categoryContent a {
    text-decoration: none;
    color: var(--main-white);
}

.loader {
    display: none;
}

.card-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    color: #515f67;
    margin: 0;
    padding: 0;
    font-family: open sans, sans-serif;
    line-height: 1.5;
    letter-spacing: .02em;
}

.homePageSectionTitle {
    border-bottom: 1px solid var(--menu-red);
    margin: 0;
    padding: 0;
    font-family: open sans, sans-serif;
    -webkit-tap-highlight-color: transparent;
    color: red;
    background: red;
}